@font-face{
	font-family: silom;
	src: url(assets/Silom.ttf);
}

body{
	display: inline;
	background-color: #0066cc;
	width: 100vw;
	margin: 0px;
	font-family: silom;
	min-width: 1330px;
}

.icon{
	height: 30px;
	height: 3000px;
	height: 30px;
	margin-left: 75px;
}

.header{
	background-color: white;
	width: 100vw;
	height: 9vh;
}

h2{
	text-decoration: none;
	color: #0066cc;
	border-bottom: 2px solid gray;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 10px;
}

.info{
	background-color: white;
	border-radius: 25px;
	z-index: 1234567890;
}

a{
	color: #0066cc
}

a:hover{
	color: orange;
}

.innerheader{
	line-height: 11vh;
}

div#info1{
	margin-left: 9vh;
	margin-top: 9vh;
	width: 36vw;
	display: inline-block;
	float: left;
	min-width: 496px;
}

.innerinfo1{
	margin: 20px;
}

.info1p{
	width: 200px;
	margin: 0px;
	float: left;
	font-family: 'Lato', sans-serif;
}

.talkie{
	float: left;
	margin-left: 100px;
}

.heroes{
	z-index: -1;
	float: left;
	width: 50vw;
	min-height: 300px;
}

.maincontent{
	margin-top: 9vh;
	height: auto;
}

.footer{
	background-color: #404040;
	color: white;
	height: 5vh;
	text-align: center;
	margin-top: -20px;
	min-height: 53px;

}

.bottominfo{
	background-color: #f2f2f2;
	height: 35vh;
	margin-top: 60vh;
	z-index: -1;
	display: flex;
	justify-content: space-around;
	min-height: 280px;
}

div#bottominnerinfo{
	width: 25vw;
	height: 18vh;
	float: left;
	margin-top: 9vh;
	border: 5px gray solid;
	text-align: center;
	min-height: 220px;
	min-width: 336px;
}

div#bottominnerinfo:hover{
	border: 5px orange solid;

}

ol{
	font-family: 'Lato', sans-serif;
	text-align: left;
}

div#adiv{
	float: right;
}

.l{
	margin-top: -20px;
}

p#cop{
	padding-top: 17px;
}

a:hover{
	margin-right: 60px;
	text-decoration: none;
	padding-bottom: 10px;
	border-bottom: 3px solid orange;
}

a{
	padding-bottom: 10px;
	margin-right: 60px;
	text-decoration: none;
}

.one{
	width: 61%;
}

.others{
	margin-right: 10px;
	margin-left: 10px;
}

li{
	margin-bottom: 5px;
}
